/** HEADER **/
#header-nav {
    background-color: #ffb4a2;
    border-radius: 0;
    border: 0;
}

.navbar-brand {
    padding-top: auto;
}

.navbar-brand h1 {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

.navbar-collapse {
    padding: 0;
}

#nav-list {
    background: #ffcdb2;
}

.navbar-nav {
    margin: 0;
}

#nav-list a {
    text-align: center;
    color: black;
    border-bottom: 1px black solid;
}

#nav-list a:hover {
    background: silver;
}

#nav-list a span {
    font-size: 1.8em;
}

/** HEADER END **/

/** MAIN CONTAINER **/
.content-tile {
    position: relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;
    margin: 15px;
    padding: 0 15px 15px;
    background-color: #eae2b7;
}

.back-to-top {
    float: right;
}

/** MAIN CONTAINER END **/