<div class="row">
    <div class="col-xs-1 col-sm-2 col-md-3"></div>

    <div class="col-xs-10 col-sm-8 col-md-6">
        <form class="form-vertical" name="signupForm" ng-submit="signupCtrl.signup(signupForm)" novalidate>
            <div class="form-group">
                <label for="firstName">First Name *</label>
                <input class="form-control" type="text" name="firstName" ng-model="signupCtrl.user.firstName"
                    required />
                <span
                    ng-if="signupForm.firstName.$error.required && (signupForm.$submitted || signupForm.firstName.$touched)"
                    style="color: red;">First name is required</span>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name *</label>
                <input class="form-control" type="text" name="lastName" ng-model="signupCtrl.user.lastName" required />
                <span
                    ng-if="signupForm.lastName.$error.required && (signupForm.$submitted || signupForm.lastName.$touched)"
                    style="color: red;">Last name is required</span>
            </div>
            <div class="form-group">
                <label for="email">Email *</label>
                <input class="form-control" type="email" name="email" ng-model="signupCtrl.user.email" required />
                <span
                    ng-if="(signupForm.email.$error.required || signupForm.email.$invalid) && (signupForm.$submitted || signupForm.email.$touched)"
                    style="color: red;">Please enter your valid email address</span>
            </div>
            <div class="form-group">
                <label for="phone">Phone Number *</label>
                <input class="form-control" type="number" name="phone" ng-model="signupCtrl.user.phone" minlength="10"
                    maxlength="10" required />
                <span
                    ng-if="(signupForm.phone.$required || signupForm.phone.$invalid) && (signupForm.$submitted || signupForm.phone.$touched)"
                    style="color: red;">Please enter your valid phone number</span>
            </div>
            <div class="form-group">
                <label for="favoriteDish">Favorite Dish</label>
                <input class="form-control" type="text" name="favoriteDish" ng-model="signupCtrl.user.favoriteDish" minlength="2" maxlength="2"/>
                <span ng-if="signupForm.favoriteDish.$invalid && (signupForm.$submitted || signupForm.favoriteDish.$touched)" style="color: red;">Menu Item must be 2 characters</span>
                <span ng-if="signupCtrl.showError" style="color: red;">No such menu number exists</span>
            </div>
            <input type="submit" class="btn btn-default" value="Signup" />
            <span class="text-success" ng-if="signupCtrl.showMessage">Your information has been saved</span>
        </form>
    </div>

    <div class="col-xs-1 col-sm-2 col-md-3"></div>
</div>